body {
    margin: 0; /* Убирает отступы по краям */
    background-color: #121212; /* Темный фон */
    color: white; /* Белый цвет текста */
    font-family: Bebasbolt; /* Используемый шрифт */
    text-align: center; /* Выравнивание по центру */
}

/* Шапка сайта */
header {
    padding: 20px; /* Внутренний отступ */
}

/* Главный заголовок */
h1 {
    margin: 0; /* Убирает стандартные отступы */
    color: white; /* Белый цвет заголовка */
}

/* Изображение */
img {
    width: 80%; /* Ширина 80% страницы */
    max-width: 900px; /* Максимальная ширина */
    margin-top: 20px; /* Отступ сверху */
    border-radius: 10px; /* Скругление углов */
}

/* Основной текст */
p {
    width: 70%; /* Ширина блока текста */
    margin: 30px auto; /* Отступы и центрирование */
    font-size: 18px; /* Размер текста */
    line-height: 1.5; /* Расстояние между строками */
}
